

header {


	font-family: 'Noto Serif Oriya', serif;
	padding: 30px ;
	background-color: rgba(0, 0, 0, 0.05);
	border-width: 0 0 1px 0;
	border-style: solid;

}



.interface {

	padding: 18px 0 18px 0;
	display: inline-flex;
	flex-wrap: wrap;
	column-gap: 80px;
	align-items: center;
	align-content: center;
	justify-content: center;
	
}

.map_container {

}

.map {

	background-image: url(assets/mapmundi.png); 
	background-size:cover; 
	width: 800px; 
	height: 400px;
}

.satellite {
	width:8%;
	height:14%;
	transition: all 2s;
	
	border-style: solid;
	border-width: 10px 0 0 10px;
	border-image: linear-gradient(45deg, yellow, red);

}



.footer-box{

	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;

}

footer {

	height: 100%;
	padding: 5px ;
	background-color: rgba(0, 0, 0, 0.05);
	text-align: center; 
	font-size: 30px;
	border-style: solid;
	border-width: 1px 0 0 0 ;
	border-color: gray;


}

footer img{

	position: relative;
	justify-self: center;
	opacity: 0.7;
	border-color: whitesmoke;
	border-style: solid;
	border-width: 0.5px;
}

.box-image:hover:before{

	content: "";
    background-image: url(assets/heyclodo-icon-gray-inverted.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
}



.box-image{
	background-image: url(assets/heyclodo-icon-gray.jpg);
	background-size: cover;
	position: relative;
	height: 100px; 
	width: 100px ;
}

a:hover{
	color: black;
	font-weight: bolder;
	
}

a{

	color: black;
	text-decoration: none;
	transition: all 0.7s;

}

p{
		font-size: 0.5em;
	}

.data_display {

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;

	gap: 10px;

}

label {
	font-family: courier;
	font-weight: bolder;
}