body {

	background-color: rgba(250, 250, 250, 1.0);
	color: aliceblue;	
	cursor: default;


}

body::before{

	position: fixed;

	width: 100%;
	height: 100%;

	content: "";

	background-image: url(./assets/images/background.jpeg);
	background-size: cover;

}

header {

	height:30vh;
	font-family: 'Noto Serif Oriya', serif;
	padding: 10px 0 50px 0;
	
	background-color: rgba(0, 0, 0, 0.05);
	border-width: 0 0 3px 0;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.839);
	border-radius: 0 0 50% 50%;

	display: flex;
	align-items: center;
	justify-items: center;
	align-content: center;
	justify-content: center;
	gap: 0;
	
	backdrop-filter: blur(5px);

}

#logo {

	width: 140px;
	height: 110px; 

	border-width: 2px;
	border-radius: 50%; 
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.765);

	box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(124, 161, 255, 0.437);
}

.header-title{

	height: 100%;

	padding: 10px 20px 10px 20px;

	background-color: rgba(31, 28, 28, 0);

	cursor: default; 
	text-align: center; 
	font-size: 60px; 
	color: rgb(255, 255, 255);


	border-width: 0px;
	border-radius: 8px; 
	border-style: solid;
	border-color: white;
	

	font-family: monospace; 
}


.header-grid{

	width: 100%;
	height: fit-content;

	display: inline-flex;
	align-self: center;
	align-items: center;
	justify-content: space-around;

	color: white;

}

.header-box{

	width: fit-content;
	height: fit-content;
	
	display: inline-flex; 
	align-items: center; 
  
	gap: 20px;

	border-radius: 15%;
}

.warning{

	padding: 0 5px 0 5px;
	font-weight:lighter;
	font-family: monospace; 
	font-size: 15px;

	border-style: solid;
	border-color: white;
	border-width: 0px;
	border-radius: 5%;

	text-align: center;

	backdrop-filter: blur(20px);
}

.interface {

	width: 100%;
	height: 70vh;
	margin: 0;
	padding: 0;

	padding: 18px 0 18px 0;
	display: inline-flex;
	flex-wrap: wrap;
	column-gap: 80px;
	align-items: center;
	align-content: center;
	justify-content: center;
	
}

.map_container {

	min-height: 85%;
	max-width: 80%;

	padding: 30px;

	color: white; 
	font-family: courier; 
	font-weight: bold;

	border-style: solid;
	border-color: rgba(255, 255, 255, 0.788);
	border-width: 0.5px;
	border-radius: 5px;

	backdrop-filter: blur(5px);

}

.map {

	background-image: url(assets/images/mapmundi.png); 
	background-size:cover; 
	width: 800px; 
	height: 400px;

}

.satellite {
	width:8%;
	height:14%;
	transition: all 2s;
	
	border-style: solid;
	border-width: 7px 0 0 7px;
	border-radius: 50%;
	border-image: linear-gradient(45deg, rgb(31, 31, 255), rgb(0, 98, 255));
}



footer {

	width: 100%;
	height:30vh;
	margin-top: 40px;

	display: inline-flex;
    align-items:center;
	justify-content: center;
	align-content:center;
	justify-items: center;

	text-align: center; 
	font-size: 30px;

	background-color: rgba(0, 0, 0, 0.05);
	border-width: 2px 0 0 0;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.839);
	border-radius: 50% 50% 0 0;

	backdrop-filter: blur(10px);	
}



.footer-grid{

	width: 100%;
    display: flex;
    align-items: center;
	justify-content: space-evenly;

	padding: 5px;

}

.footer-box{

	height: 100%;

	display: inline-flex;
	height: fit-content;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;


}




footer img{

	position: relative;
	justify-self: center;
	opacity: 0.7;
	border-color: whitesmoke;
	border-style: solid;
	border-width: 0.5px;


}



.box-image{
	background-image: url(assets/images/clodome.png);
	background-size: contain;
	position: relative;
	height: 80px; 
	width: 80px ;
	border-radius: 8%;

	background-color: transparent;
}

a{

	padding: 2px;

	text-decoration: none;
	transition: all 0.7s;

	color: white; 
	font-family: courier; 
	font-weight: bold;

}

a:hover{
	color: gray;
	font-weight: bolder;
	scale: 1.1;	
}

p{
		font-size: 0.5em;
	}

.data_display {

	min-height: 85%;
	width: max-content;

	padding: 30px;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: flex-start;
	gap: 10px;

	color: white; 
	font-family: monospace; 	
	font-weight: bold;

	border-style: solid;
	border-color: rgba(255, 255, 255, 0.788);
	border-width: 0.5px;
	border-radius: 5px;

	backdrop-filter: blur(5px);

}

.data-field{
	cursor:default; 
	display: inline-flex; 
	flex-wrap: nowrap;
	gap: 10px;
}

.data_display:hover, .map_container:hover {

	border-color: rgb(255, 255, 255);

}

.blue-button {

	height: fit-content;
    background-color: rgb(94, 94, 255);
    color: white;
    padding: 0px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

label {
	font-family: monospace; 
	font-weight: bolder;
}

.copyButton:hover {

	cursor: pointer;

}




.particle {

	background-color: orange;
	width:1%;
	height:2%;
	border-radius: 50%;



}

canvas {

	width: 800px;
	height: 400px;
	border: 1px solid black;
	transform: translate(0,-57px);

}




.metaInfo{

	background-image: linear-gradient(90deg,  rgba(200,200,200, 0.05), rgba(200,200,200, 0.4), rgba(200,200,200, 0.5), rgba(200,200,200, 0.4),  rgba(200,200,200, 0.05));
	border-style: solid;
	border-width: 1px 0 1px 0;
	border-color: darkslategray;

	cursor: default; 
	font-family: monospace; 
	font-weight: bolder;
	color: rgb(255, 255, 255);
}

.wikiInfo {

	width: 100%;
	height: 100px;
	padding-right: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;

	font-family: monospace; 
	font-size: 20px;
	font-weight: bolder;
	color: rgb(253, 253, 253);

	cursor: default; 
}

.current-place {

	height: 20px;
	width:30px; 
	transform: translate(0,0); 

}

.fetchSign {

	content: "";
	width: 15px;
	height: 15px;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-width: 1px;
	border-radius: 50%;
	/*background-image: linear-gradient(0deg, rgba(0, 215, 0, 1.0), rgba(0, 180, 0, 1.0));
*/

}

#location-flag {

	content: "";
	height: 20px;
	width:30px; 
	opacity: 0.9;
	background-size: cover;

}

#location {

	cursor: default;
	height: 15px;
	width:30px; 
	font-weight: bolder; 
	color: rgb(16, 18, 18); 
	font-size: 14px;
	font-weight: 900;



	
}

input {
	color: white;
	background-color: rgba(31, 28, 28, 0.754);
	width: 100%;

	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-width: 1px;
	border-radius: 5px;
}


.band-container {
    width: 100%;
    height: fit-content;

    margin: 7vh 0 7vh 0;
    padding: 2vh 0vw 2vh 0;

    backdrop-filter: blur(5px);
    background-image: linear-gradient(45deg, rgba(48, 40, 40, 0.594), transparent);
    box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(235, 172, 155, 0.329);   

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 2vw;
    color: azure;
}

.band-display  {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    justify-items: stretch;
    color: azure;
}

#the-team-title{
    text-align: right; 
    text-justify: center; 
    font-family: monospace; 
	opacity: 0.9; 
    font-size: 8vh; 
    margin: 0 0 0 0;
}


.inline-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    justify-items: center;
    gap: 4vh;
}

.team-button-container{
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

    padding: 0px 0 0px 0;
    gap:0;
}

.dev-name{
    margin: 0;
    padding: 0 ;
    font-family: monospace ;
    font-style: normal;
    font-weight: 300;
    color: rgb(241, 241, 241);

    opacity: 1;
}

.team-button{

    background-color: transparent;

    background-size: cover;
    width: 105px;
    height: 105px;
    box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(235, 172, 155, 0.329);

    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    border-color: rgba(245, 245, 245, 0.429);

    opacity: 0.7;

    cursor: pointer;

    transition: all 0.2s;

    padding: 0;

}

.team-button:hover{
    scale: 1.03;
    opacity: 0.95;
}

#dev1-button {
    background-image: url(./assets/images/dev1.png);
    background-size: contain;
}


#buymeacoffee-button{
    opacity: 0.8;
}

#buymeacoffee-button:hover{
    scale: 1.01;
    opacity: 1;
}
