body {

	background-color: rgba(250, 250, 250, 1.0);

}

header {


	font-family: 'Noto Serif Oriya', serif;
	padding: 30px ;
	background-color: rgba(0, 0, 0, 0.05);
	border-width: 0 0 3px 0;
	border-style: solid;
	border-color: darkslategray;

}

.header-box{

	display: flex; 
	align-items:center; 
	align-content: center; 
	justify-content: center; 
	flex-direction: column; 
	row-gap: 5px;

	border-radius: 15%;
}


.interface {

	padding: 18px 0 18px 0;
	display: inline-flex;
	flex-wrap: wrap;
	column-gap: 80px;
	align-items: center;
	align-content: center;
	justify-content: center;
	
}

.map_container {



}

.map {

	background-image: url(assets/mapmundi.png); 
	background-size:cover; 
	width: 800px; 
	height: 400px;
}

.satellite {
	width:8%;
	height:14%;
	transition: all 2s;
	
	border-style: solid;
	border-width: 10px 0 0 10px;
	border-image: linear-gradient(45deg, yellow, red);

}



.footer-box{

	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;



}

footer {

	height: 100%;
	padding: 5px ;
	background-color: rgba(0, 0, 0, 0.05);
	text-align: center; 
	font-size: 30px;
	border-style: solid;
	border-width: 2px 0 0 0 ;
	border-color: darkslategray;


}

footer img{

	position: relative;
	justify-self: center;
	opacity: 0.7;
	border-color: whitesmoke;
	border-style: solid;
	border-width: 0.5px;


}

.box-image:hover:before{

	content: "";
    background-image: url(assets/heyclodo-icon-gray-inverted.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    border-radius: 8%;
}



.box-image{
	background-image: url(assets/heyclodo-icon-gray.jpg);
	background-size: cover;
	position: relative;
	height: 100px; 
	width: 100px ;
	border-radius: 8%;
}

a:hover{
	color: gray;
	font-weight: bolder;
	
}

a{

	color: black;
	text-decoration: none;
	transition: all 0.7s;

}

p{
		font-size: 0.5em;
	}

.data_display {

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: flex-start;

	gap: 10px;

}

label {
	font-family: courier;
	font-weight: bolder;
}

.copyButton:hover {

	cursor: pointer;

}

.footer-flexbox{

	display: inline-flex;
	align-items: center;
	justify-content: center;

}

.wikiInfo {

	font-family: courier;
	font-size: 20px;


}