body {

	background-color: rgba(250, 250, 250, 1.0);

}

header {


	font-family: 'Noto Serif Oriya', serif;
	padding: 30px ;
	background-color: rgba(0, 0, 0, 0.05);
	border-width: 0 0 3px 0;
	border-style: solid;
	border-color: darkslategray;

}

.header-title{

	style="cursor: default; 
	text-align: center; 
	font-size: 30px; 
	color: darkslategray;
}

.header-box{

	display: flex; 
	align-items:center; 
	align-content: center; 
	justify-content: center; 
	flex-direction: column; 
	row-gap: 5px;

	border-radius: 15%;
}

.header-grid{

	display: grid;
    grid-template-columns: 5fr 3fr;
    grid-gap: 10px;
    align-items: center;
	justify-content: center;

}



.interface {

	padding: 18px 0 18px 0;
	display: inline-flex;
	flex-wrap: wrap;
	column-gap: 80px;
	align-items: center;
	align-content: center;
	justify-content: center;
	
}

.map_container {



}

.map {

	background-image: url(assets/mapmundi.png); 
	background-size:cover; 
	width: 800px; 
	height: 400px;

}

.satellite {
	width:8%;
	height:14%;
	transition: all 2s;
	
	border-style: solid;
	border-width: 10px 0 0 10px;
	border-image: linear-gradient(45deg, darkorange, lightcoral);

}



.footer-box{

	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;



}

footer {

	height: 100%;
	padding: 5px ;
	background-color: rgba(0, 0, 0, 0.05);
	text-align: center; 
	font-size: 30px;
	border-style: solid;
	border-width: 2px 0 0 0 ;
	border-color: darkslategray;


}

footer img{

	position: relative;
	justify-self: center;
	opacity: 0.7;
	border-color: whitesmoke;
	border-style: solid;
	border-width: 0.5px;


}

.box-image:hover:before{

	content: "";
    background-image: url(assets/heyclodo-icon-gray-inverted.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    border-radius: 8%;
}



.box-image{
	background-image: url(assets/heyclodo-icon-gray.jpg);
	background-size: cover;
	position: relative;
	height: 100px; 
	width: 100px ;
	border-radius: 8%;
}

a:hover{
	color: gray;
	font-weight: bolder;
	
}

a{

	color: black;
	text-decoration: none;
	transition: all 0.7s;

}

p{
		font-size: 0.5em;
	}

.data_display {

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: flex-start;

	gap: 10px;

}

label {
	font-family: courier;
	font-weight: bolder;
}

.copyButton:hover {

	cursor: pointer;

}

.footer-grid{

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    align-items: center;
	justify-content: center;

}



.particle {

	background-color: orange;
	width:1%;
	height:2%;
	border-radius: 50%;



}

canvas {

	width: 800px;
	height: 400px;
	border: 1px solid black;
	transform: translate(0,-57px);

}




.metaInfo{

	background-image: linear-gradient(90deg,  rgba(200,200,200, 0.05), rgba(200,200,200, 0.4), rgba(200,200,200, 0.5), rgba(200,200,200, 0.4),  rgba(200,200,200, 0.05));
	border-style: solid;
	border-width: 1px 0 1px 0;
	border-color: darkslategray;


	style="cursor: default; 
	font-family: courier;"
	font-weight: bolder;
	color: darkslategray;
}

.wikiInfo {

	background-image: linear-gradient(90deg,  rgba(200,200,200, 0.05), rgba(200,200,200, 0.4), rgba(200,200,200, 0.5), rgba(200,200,200, 0.4),  rgba(200,200,200, 0.05));
	border-style: solid;
	border-width: 1px 0 1px 0;
	border-color: darkslategray;
	style="cursor: default; 
	font-weight: bolder;
	color: darkslategray;
	font-family: courier;
	font-size: 20px;
	padding-right: 20px;



}

.current-place {

	height: 20px;
	width:30px; 
	transform: translate(0,0); 

}

.fetchSign {

	content: "";
	width: 15px;
	height: 15px;
	border-style: solid;
	border-color: darkslategray;
	border-width: 1px;
	border-radius: 50%;
	/*background-image: linear-gradient(0deg, rgba(0, 215, 0, 1.0), rgba(0, 180, 0, 1.0));
*/

}

#location-flag {

	content: "";
	height: 20px;
	width:30px; 
	opacity: 0.6;
	background-size: cover;

}

#location {

	cursor: default;
	height: 15px;
	width:30px; 
	font-weight: bolder; 
	color: darkslategray; 
	font-size: 14px;

}