body {

	color: aliceblue;	
	cursor: default;

}

/* body::before{

	position: fixed;

	width: 100%;
	height: 100%;

	content: "";

	background-image: url(./assets/images/background.jpeg);
	background-size: cover;

} */

#video-bg {

	position: fixed;

	width: 100%;
	height: 100%;

	object-fit: fill;
}

header {

	height:30vh;
	font-family: 'Noto Serif Oriya', serif;
	padding: 10px 0 50px 0;
	margin-bottom: 5px;
	
	background-color: rgba(0, 0, 0, 0.05);
	border-width: 0 0 3px 0;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.839);
	border-radius: 0 0 50% 50%;

	display: flex;
	align-items: center;
	justify-items: center;
	align-content: center;
	justify-content: center;
	gap: 0;
	
	backdrop-filter: blur(20px);

}

#logo {

	width: 140px;
	height: 110px; 

	border-width: 2px;
	border-radius: 50%; 
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.765);

	box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(124, 161, 255, 0.437);
}

.header-title{

	height: 100%;

	padding: 10px 20px 10px 20px;

	background-color: rgba(31, 28, 28, 0);

	cursor: default; 
	text-align: center; 
	font-size: 60px; 
	color: rgb(255, 255, 255);


	border-width: 0px;
	border-radius: 8px; 
	border-style: solid;
	border-color: white;

	font-family:monospace;
	font-weight: 400;
}


.header-grid{

	width: 100%;
	height: fit-content;

	display: inline-flex;
	align-self: center;
	align-items: center;
	justify-content: space-around;

	color: white;

}

.header-box{

	width: fit-content;
	height: fit-content;
	
	display: inline-flex; 
	align-items: center; 
  
	gap: 20px;

	border-radius: 15%;
}

.warning{

	padding: 0 5px 0 5px;
	font-weight:lighter;
	font-family: monospace; 
	font-size: 15px;

	border-style: solid;
	border-color: white;
	border-width: 0px;
	border-radius: 5%;

	text-align: center;

	backdrop-filter: blur(20px);
}

.interface {

	width: 100%;
	height: fit-content;
	margin: 0;
	padding: 0;

	padding: 18px 0 18px 0;
	display: inline-flex;
	flex-wrap: wrap;
	column-gap: 80px;
	align-items: center;
	align-content: center;
	justify-content: center;
	
}

input {
	color: white;
	background-color: rgba(31, 28, 28, 0.754);
	width: 100%;

	text-align: center;

	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-width: 1px;
	border-radius: 5px;
}

#satellite-field {
	width: 100%;
}

#date-painel	 {

	color: white;
	background-color: rgba(31, 28, 28, 0.754);
	width: 100%;

	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-width: 2px 0 2px 0;
	border-radius: 5px 5px 0 0 ;

	font-family: courier; 
	cursor: default;
	text-align: center;

}

#view-options {

	height: fit-content;
	width: 100%;

	display: inline-flex;
	flex-wrap: nowrap;

}

.option {

	padding: 5px 15px 5px 15px;

	color: white;
	background-color: rgba(31, 28, 28, 0.754);
	
	width: fit-content;

	margin: 10px;

	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-width: 1px;
	border-radius: 5px;

	font-family: courier; 
	cursor: pointer;
	text-align: center;

}

.map-container {

	height: 100%;
	max-width: 80%;



	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;

	color: white; 
	font-family: courier; 
	font-weight: bold;

	border-style: solid;
	border-color: rgba(255, 255, 255, 0.788);
	border-width: 0.5px;
	border-radius: 5px;

	backdrop-filter: blur(20px);

}



.map {

	background-image: url(assets/images/mapmundi.png); 
	background-size:cover; 
	width: 800px; 
	height: 400px;

}


canvas {

	width: 800px;
	height: 400px;
	border: 1px solid black;

}
	
.satellite {

	position: absolute;

	width:50px;
	height:50px;

	transition: all 0s;
	
	border-style: solid;
	border-width: 5px;
	border-radius: 50%;
	border-color: rgba(245, 243, 243, 0);
	background-color: rgba(192, 185, 177, 0);

	backdrop-filter: blur(10px);
	box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(229, 235, 255, 0.767);

	opacity: 0;

}

.user-location {

	position: absolute;

	width: 35px;
	height: 35px;

	transition: all 0s;
	
	border-style: solid;
	border-width: 4px;
	border-radius: 50%;
	border-color: rgba(255, 255, 255, 0.932);
	background-color: rgba(255, 255, 255, 0.252);

	backdrop-filter: blur(10px);
	box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(229, 235, 255, 0.767);

	opacity: 0;

}




footer {

	width: 100%;
	height:30vh;
	margin-top: 40px;

	display: inline-flex;
    align-items:center;
	justify-content: center;
	align-content:center;
	justify-items: center;

	text-align: center; 
	font-size: 30px;

	background-color: rgba(0, 0, 0, 0.05);
	border-width: 2px 0 0 0;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.839);
	border-radius: 50% 50% 0 0;

	backdrop-filter: blur(20px);	
}



.footer-grid{

	width: 100%;
    display: flex;
    align-items: center;
	justify-content: space-evenly;

	padding: 5px;

}

.footer-box{

	height: 100%;

	display: inline-flex;
	height: fit-content;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;


}




footer img{

	position: relative;
	justify-self: center;
	opacity: 0.9;
	/* border-color: whitesmoke;
	border-style: solid;
	border-width: 0.5px; */


}



.box-image{
	background-image: url(assets/images/clodome.png);
	background-size: contain;
	position: relative;
	height: 80px; 
	width: 80px ;
	border-radius: 8%;

	background-color: transparent;
}

a{

	padding: 2px;

	text-decoration: none;
	transition: all 0.7s;

	color: white; 
	font-family: courier; 
	font-weight: bold;

}

a:hover{
	color: gray;
	font-weight: bolder;
	scale: 1.1;	
}

p{
		font-size: 0.5em;
	}

.data-display {

	height: fit-content;
	width: 300px;

	display: flex;
	flex-wrap: no-wrap;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: flex-start;
	gap: 0px;

	color: white; 
	font-family: monospace; 	
	font-weight: bold;

	border-style: solid;
	border-color: rgba(255, 255, 255, 0.788);
	border-width: 0.5px;
	border-radius: 5px;

	backdrop-filter: blur(20px);

}

.export-box {
	width: 100%;
	height: 100%;

	padding	: 10px;

	display: inline-flex;
	justify-content: flex-end;
	align-content: center;

}

.input-display {

	height: 100%;
	width: 100%;

	padding: 30px;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: flex-start;
	gap: 10px;

	color: white; 
	font-family: monospace; 	
	font-weight: bold;

	border-style: solid;
	border-color: rgba(255, 255, 255, 0.788);
	border-width: 0px;
	border-radius: 0px;

	backdrop-filter: blur(20px);

}

.output-display {

	height: 100%;
	width: 100%;

	padding: 30px;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: flex-start;
	gap: 10px;

	color: white; 
	font-family: monospace; 	
	font-weight: bold;

	border-style: solid;
	border-color: rgba(255, 255, 255, 0.788);
	border-width: 0.5px 0 0.5px 0;
	border-radius: 0px;

	backdrop-filter: blur(20px);

}

.parameters-display {

	height: 210px;
	overflow-y: auto;


}

.data-field{

	width: 100%;
	cursor:default; 
	display: inline-flex; 
	flex-wrap: nowrap;
	gap: 10px;
}

.data-display:hover, .map-container:hover {

	border-color: rgb(255, 255, 255);

}

.export-button {
    
	height: fit-content;
	
    border: solid;
    border-radius: 1px;
	border-color: transparent;

	padding: 10px;
    
	background-color: rgba(49, 45, 39, 0.324);
	backdrop-filter: blur(5px);
    background-image: linear-gradient(45deg, rgba(48, 40, 40, 0.777), transparent);
    box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(235, 172, 155, 0.329);   

	cursor: pointer;

	color: white;
}

.export-button:hover {
	border-color: rgba(255, 255, 255, 0.639);
} 

label {
	font-family: monospace; 
	font-weight: bolder;
}

.copyButton:hover {

	cursor: pointer;

}

.metaInfo{

	background-image: linear-gradient(90deg,  rgba(200,200,200, 0.05), rgba(200,200,200, 0.4), rgba(200,200,200, 0.5), rgba(200,200,200, 0.4),  rgba(200,200,200, 0.05));
	border-style: solid;
	border-width: 1px 0 1px 0;
	border-color: darkslategray;

	cursor: default; 
	font-family: monospace; 
	font-weight: bolder;
	color: rgb(255, 255, 255);
}

.wikiInfo {

	width: 100%;
	height: 100px;
	padding-right: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;

	font-family: monospace; 
	font-size: 20px;
	font-weight: bolder;
	color: rgb(253, 253, 253);

	cursor: default; 
}



.fetchSign {

	content: "";
	width: 15px;
	height: 15px;

	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-width: 1px;
	border-radius: 50%;
	/*background-image: linear-gradient(0deg, rgba(0, 215, 0, 1.0), rgba(0, 180, 0, 1.0));
*/

}

#location-flag {

	position: absolute;
	opacity: 1;


}

#location-name {

	position: absolute;
	opacity: 1;
	padding: 0.5px;

	/* background-color: white; */

	height: fit-content;
	width: fit-content;

	border-radius: 10%;

	color: rgba(255, 255, 255, 0.932);

	font-size: smaller;
	font-weight: 600;
	text-align: center;
	text-justify: center;

}


.band-container {
    width: 100%;
    height: fit-content;

    margin: 7vh 0 7vh 0;
    padding: 2vh 0vw 2vh 0;

    backdrop-filter: blur(5px);
    background-image: linear-gradient(45deg, rgba(48, 40, 40, 0.594), transparent);
    box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(235, 172, 155, 0.329);   

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 2vw;
    color: azure;

	border-style: solid;
	border-color: rgba(255, 255, 255, 0.596);
	border-width: 1px 0 1px 0;

	backdrop-filter: blur(20px);
}

.band-display  {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    justify-items: stretch;
    color: azure;


}

#the-team-title{
    text-align: right; 
    text-justify: center; 
    font-family: monospace; 
	opacity: 0.9; 
    font-size: 8vh; 
    margin: 0 0 0 0;
}


.inline-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    justify-items: center;
    gap: 4vh;
}

.team-button-container{
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

    padding: 0px 0 0px 0;
    gap:0;
}

.dev-name{
    margin: 0;
    padding: 0 ;
    font-family: monospace ;
    font-style: normal;
    font-weight: 300;
    color: rgb(241, 241, 241);

    opacity: 1;
}

#contribute{
	display: inline-flex;
	gap: 20px;
}

.team-button{

    background-color: transparent;

    background-size: cover;
    width: 105px;
    height: 105px;
    box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(235, 172, 155, 0.329);

    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    border-color: rgba(245, 245, 245, 0.429);

    opacity: 0.7;

    cursor: pointer;

    transition: all 0.2s;

    padding: 0;

}

.team-button:hover{
    scale: 1.03;
    opacity: 0.95;
}

#dev1-button {
    background-image: url(./assets/images/dev1.png);
    background-size: contain;
}


#buymeacoffee-button, #jointheteam-button{
    opacity: 0.8;
}

#buymeacoffee-button:hover, #jointheteam-button:hover{
    scale: 1.01;
    opacity: 1;
}
