body {

	color: aliceblue;	
	cursor: default;

}

.calligraffitti-regular {
	font-family: "Calligraffitti", cursive;
	font-weight: 400;
	font-style: normal;
}
  

/* body::before{

	position: fixed;

	width: 100%;
	height: 100%;

	content: "";

	background-image: url(./assets/background.jpeg);
	background-size: cover;

} */

#video-bg {

	position: fixed;

	width: 100%;
	height: 100%;

	object-fit: fill;
}

header {

	height:20vh;
	font-family: 'Courier New', Courier, monospace;
	padding: 30px 0 50px 0;
	margin: 0 0 5px 0;
	
	background-color: rgba(0, 0, 0, 0.05);
	border-width: 0 0 3px 0;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.839);
	border-radius: 0 0 50% 50%;

	display: flex;
	align-items: center;
	justify-items: center;
	align-content: center;
	justify-content: center;
	gap: 0;
	
	backdrop-filter: blur(20px);
	background-color: rgba(77, 85, 152, 0.254);


}

#logo {

	width: 140px;
	height: 110px; 

	border-width: 2px;
	border-radius: 50%; 
	border-style: solid;
	border-color: rgba(255, 200, 129, 0.438);

	box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(255, 183, 115, 0.158);

	opacity: 0.9;
	transition: all 1s;

	cursor: pointer;
}

#logo:hover {
	opacity: 1;
	scale: 1.01;
}

#header-title-box {
	display: flex;
	flex-direction: column;
}

.header-text {
	height: 100%;
	background-color: rgba(31, 28, 28, 0);

	cursor: default; 
	font-size: 60px; 
	color: rgb(253, 177, 90);

	border-width: 0px;
	border-radius: 8px; 
	border-style: solid;
	border-color: white;
}

#header-title{

	/* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
	font-size: 55px;
	font-weight: 400;

}

#header-subtitle{

	margin-left: 0px;
	font-size: 13px;
	font-weight: 100;
	color: rgba(255, 255, 255, 0.562);
	
}

.header-grid{

	width: 100%;
	height: fit-content;

	display: inline-flex;
	align-self: center;
	align-items: center;
	justify-content: space-around;

	color: white;

}

.header-box{

	width: fit-content;
	height: fit-content;
	
	display: inline-flex; 
	align-items: center; 
  
	gap: 20px;

	border-radius: 15%;
}

.warning{

	padding: 0 5px 0 5px;
	font-weight:lighter;
	font-family: monospace; 
	font-size: 15px;

	border-style: solid;
	border-color: white;
	border-width: 0px;
	border-radius: 5%;

	text-align: center;

	backdrop-filter: blur(20px);
}

.interface {

	width: 100%;
	height: 80vh;
	margin: 0;
	padding: 0;

	padding: 18px 0 18px 0;
	display: inline-flex;
	flex-wrap: wrap;
	gap: 6vw;
	align-items: center;
	align-content: center;
	justify-content: center;

	opacity: 0;
	
}

input, .data-field output  {
	color: white;
	background-color: rgba(31, 28, 28, 0.754);
	width: 100%;

	text-align: center;

	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-width: 1px;
	border-radius: 5px;
}

.input-box{

	width: 100%;

	padding: 0px 15px 0 0;

	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;
}

.data-field input, .data-field output {

	width: 200px;
}

#satellite-field {
	width: 100%;
}

#units-system-field {
	width: 100%;
}

#time	 {

	color: white;
	background-color: rgba(31, 28, 28, 0.754);
	width: 100%;
	min-height: 25px;

	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-width: 0 0 2px 0;
	border-radius: 0;

	font-family: courier; 
	cursor: default;
	text-align: center;

}

#view-tabs, #data-tabs {
	
	height: fit-content;
	width: 100%;

	display: inline-flex;
	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: flex-start;
	gap: 0;

	flex-wrap: nowrap;

	background-color: rgba(53, 43, 124, 0.355);

}

.tab, .data-tab  {

	position: sticky;
	width: 100%;

	padding: 5px 15px 5px 15px;
	margin: 0px;

	color: white;
	background-color: rgba(31, 28, 28, 0.754);
	backdrop-filter: blur(40px);

	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-width: "0.1px 0.1px 3px 0.1px";
	border-radius: 0px;

	font-family: courier; 
	font-weight: 300;
	cursor: pointer;
	text-align: center;

	opacity: 0.5;

	transition: all 0s;

}

.tab:hover {

	opacity: 0.9;
	font-weight: 700;

}

.SOON {
	
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;

	font-size: 40px;
	font-weight: 300;

}

#view-labels {

	height: fit-content;
	width: 100%;

	display: inline-flex;
	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;
	flex-wrap: nowrap;


	border-style: solid;
	border-color: rgba(255, 255, 255, 0.888);
	border-width: 0px 0px 0px 0px;
	border-radius: 5px;

}

.label {

	width: 100%;

	padding: 0;

	color: white;
	background-color: rgba(58, 50, 50, 0.743);
	
	width: fit-content;
	margin: 10px;

	border-style: solid;
	border-color: rgba(255, 255, 255, 0.663);
	border-width: 1px;
	border-radius: 5px;

	display: inline-flex;
	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;
	gap: 0;

	font-family: courier; 
	cursor: pointer;
	text-align: center;

}

.label-img {
	
	height: 30px;

	padding: 2px;

	border-style: solid;
	border-width: 0 1px 0 0;
	border-color: rgba(255, 255, 255, 0.382);

	display: inline-flex;
	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;

}

.label-text {

	padding: 0 5px 0 5px;

	display: inline-flex;
	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;

	font-size: 10px;
}

#main-window {

	height: fit-content;
	width: fit-content;

	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;

	color: white; 
	font-family: courier; 
	font-weight: bold;

	border-style: solid;
	border-color: rgba(255, 255, 255, 0.788);
	border-width: 0.5px 0.5px 3px 0.5px;
	border-radius: 5px;

	backdrop-filter: blur(20px);
	
}

#screen {

	width: 800px; 
	height: 400px;

	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-width: 0px 0px 0px 0px;
	border-radius: 0px;

}

.display-system {
	/* display: none; */
}

#specs-container {

	/* background-image: url(assets/mapmundi.png); 
	background-size:cover;  */
	width: 800px; 
	height: 400px;

	margin: 0;
	padding: 40px;

	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: flex-start;
	justify-items: flex-start;
	justify-content: flex-start;

	gap: 20px;

	font-family: 'Courier New', Courier, monospace;
	cursor: default;
}

.spec {
	width: 100%;
	height: fit-content;

	display: inline-flex;
	align-items: center;
	align-content: center;
	justify-items: flex-start;
	justify-content: flex-start;
	flex-wrap: nowrap;
	gap: 30px;

	font-size: 20px;

}

.spec-info {

	width: 15px;
	height: 15px;

	display: inline-flex;
	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;

	border-style: solid;
	border-width: 2px;
	border-radius: 50%;
	border-color: rgba(235, 235, 235, 0.817);
	background-color: rgba(192, 185, 177, 0);

	font-weight: 500;
	font-size: 14px;
}

.spec-info-mini {

	width: 20px;
	height: 20px;

	display: inline-flex;
	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;

	border-style: solid;
	border-width: 2px;
	border-radius: 50%;
	border-color: rgba(235, 235, 235, 0.817);
	background-color: rgba(192, 185, 177, 0);

	font-weight: 500;
}

.spec-info:hover, .spec-info-mini:hover {

	cursor:help;
	border-width: 3px;
	font-weight: 700;
	scale: 1.01;
}

.spec-name {
	font-weight: 600;
}

.spec-value {
	font-weight: 400;
	text-transform: uppercase;
}

#map2D-container {

	/* width: 800px;  */
	width: 800px; 
	height: 0;

	object-fit: contain;

	overflow-y: hidden;

	cursor: crosshair;
}

#map2D-img {

	position: absolute;
	z-index: 0;
	width: inherit;
	height: inherit;
	

}

#map3D-container {

	/* background-image: url(assets/map3D.png);  */
	/* background-size:cover;  */
	height: inherit;
	width: inherit;

	overflow-y: hidden;
	overflow-x: hidden;

	cursor: crosshair;
}

canvas {

	position: relative;
	z-index: 1;
	width: inherit;
	height: inherit;

	transition: 'width 3s';
}
	
#satellite {

	position: absolute;
	z-index: 2;

	width:50px;
	height:50px;
	
	border-style: solid;
	border-width: 5px;
	border-radius: 50%;
	border-color: rgba(245, 243, 243, 0);
	background-color: rgba(192, 185, 177, 0);

	backdrop-filter: blur(10px);

	transition: all 0s;

}

#visibility-radius {
	position: absolute;
	width: 150px;
	height: 150px;	

	border-style: dashed;
	border-width: 2px;
	border-radius: 50%;
	border-color: rgba(243, 231, 231, 0.824);
	background-color: rgba(192, 185, 177, 0);

}

#user-location {

	position: absolute;

	width: 35px;
	height: 35px;

	transition: all 0s;
	
	border-style: solid;
	border-width: 3px;
	border-radius: 50%;
	border-color: rgba(255, 255, 255, 0.818);
	/* background-color: rgba(255, 255, 255, 0.252); */

	backdrop-filter: blur(10px);

	opacity: 0;

}




footer {

	width: 100%;
	height:30vh;
	margin-top: 40px;

	display: inline-flex;
    align-items:center;
	justify-content: center;
	align-content:center;
	justify-items: center;

	text-align: center; 
	font-size: 30px;

	background-color: rgba(0, 0, 0, 0.05);
	border-width: 2px 0 0 0;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.839);
	border-radius: 50% 50% 0 0;

	backdrop-filter: blur(20px);
	background-color: rgba(77, 85, 152, 0.254);
	
}



.footer-grid{

	width: 100%;
    display: flex;
    align-items: center;
	justify-content: space-evenly;

	padding: 5px;

}

.footer-box{

	height: 100%;

	display: inline-flex;
	height: fit-content;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;


}

.powered-by {
	display: inline-flex;
	justify-content: center;
	justify-items: center;
	align-items: center;

	gap: 20px;

	color: white;
}


footer img{

	position: relative;
	justify-self: center;
	opacity: 0.9;
	/* border-color: whitesmoke;
	border-style: solid;
	border-width: 0.5px; */


}



.box-image{
	background-image: url(assets/clodome.png);
	background-size: contain;
	position: relative;
	height: 80px; 
	width: 80px ;
	border-radius: 8%;

	background-color: transparent;
}

p{
		font-size: 0.5em;
	}

#data-display {

	height: fit-content;
	width: 300px;

	display: flex;
	flex-wrap: no-wrap;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: flex-start;
	gap: 0px;

	color: white; 
	font-family: monospace; 	
	font-weight: bold;

	border-style: solid;
	border-color: rgba(255, 255, 255, 0.788);
	border-width: 0.5px;
	border-radius: 5px;

	backdrop-filter: blur(20px);
	background-color: rgba(77, 85, 152, 0.254);

}

.button-box {
	width: 100%;
	height: fit-content;

	margin: 10px 0 0 0;
	padding: 10px 0 0 0;

	display: inline-flex;
	justify-content: flex-end;
	justify-items: center;
	align-content: center;
	align-items: center;

	border-style: solid;
	border-color: rgba(255, 255, 255, 0.788);
	border-width: 0.5px 0 0 0;
	border-radius: 0;
}

.button {
    
	height: fit-content;
	width: fit-content;

	display: inline-flex;
	justify-content: flex-end;
	justify-items: center;
	align-content: center;
	align-items: center;
	gap: 20px;
	
    border: solid;
    border-radius: 3px;
	border-color: rgba(255, 255, 255, 0.26);

	padding: 5px 10px;
    
	background-color: rgba(49, 45, 39, 0.324);
	backdrop-filter: blur(5px);
    background-image: linear-gradient(45deg, rgba(48, 40, 40, 0.777), transparent);
    box-shadow: 0.1vw 0.1vw 2vw 0.1vw rgba(78, 74, 73, 0.516);   

	cursor: pointer;

	color: white;
}

.button:hover {
	border-color: rgba(255, 255, 255, 0.667);
} 

#source-display {

	height: fit-content;
	width: 100%;

	padding: 15px 30px;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: flex-start;
	gap: 10px;

	color: white; 
	font-family: monospace; 	
	font-weight: bold;

	border-style: solid;
	border-color: rgba(255, 255, 255, 0.788);
	border-width: 0px 0 0 0;
	border-radius: 0px;

	backdrop-filter: blur(20px);

}

.data-container {

	height: 100%;
	min-height: 200px;
	width: 100%;

	padding: 10px 10px 10px 10px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	justify-items: flex-start;
	align-items: center;
	align-content: center;
	gap: 10px;

	color: white; 
	font-family: monospace; 	
	font-weight: bold;

	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-width: 0 3px 3px 3px;
	border-radius: 0px;

	backdrop-filter: blur(20px);

}


#log-box {
	
	width: 100%;
	margin: 20px 0;
	
	display: inline-flex; 
	align-items: center; 
	align-content: center;	
	justify-content: space-evenly;
	justify-items: center;
	gap: 0px;
}

#log {

	width: 100%;
	max-width: 200px;
	height: 20px;

	display: flex;
	align-items: center; 
	align-content: center;	
	justify-content: center;
	justify-items: center;

	cursor: default; 
	
	font-weight: lighter; 
	font-size: 15px; 
	text-align: center; 
	text-justify: center;

	transition: 2s;
}

.loader {

	width: 35px;
	height: 35px;
	margin: 0;

	background-color: transparent;
	box-shadow: 0vw 0vw 1vw 0vw rgba(255, 211, 199, 0.458);   
	border: 4px solid #f3f3f3a0;
	border-top: 4px solid;
	border-radius: 50%;		
	
}

#log-loader {
	border-top-color: #f3f3f3a0;
	animation: spin 1s linear infinite;
}

#wiki-loader {
	border-top-color: #ffffff;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.parameters-display {

	height: auto;
	width: 100%;
	overflow-y: auto;

	padding: 5px;

	display: flex;
	flex-direction: column;
	gap: 10px;

	scroll-behavior: smooth;
	scroll-snap-type: mandatory;
    scrollbar-color: rgb(255, 255, 255) rgba(43, 45, 43, 0.756);
	-webkit-overflow-scrolling: touch;

}

.data-field{

	width: 100%;
	cursor:default; 
	display: inline-flex; 
	flex-wrap: nowrap;
	gap: 10px;
}

#data-display:hover, #main-window:hover {

	border-color: rgb(255, 255, 255);

}

.units {

	margin: 2px 5px	2px 0px;
	font-size: 14px;
	font-weight: 300;
}

label {
	font-family: monospace; 
	font-weight: bolder;
}

.copyButton:hover, .binButton:hover {

	cursor: pointer;

}

.metaInfo{

	background-image: linear-gradient(90deg,  rgba(200,200,200, 0.05), rgba(200,200,200, 0.4), rgba(200,200,200, 0.5), rgba(200,200,200, 0.4),  rgba(200,200,200, 0.05));
	border-style: solid;
	border-width: 1px 0 1px 0;
	border-color: darkslategray;

	cursor: default; 
	font-family: monospace; 
	font-weight: bolder;
	color: rgb(255, 255, 255);
}

.wikiInfo {

	width: 100%;
	height: 100px;
	margin-bottom: 20px;


	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;

	font-family: 'Courier New', Courier, monospace; 
	font-size: 20px;
	font-weight: bolder;
	color: rgb(253, 253, 253);

	cursor: default; 
}

#satellite-location-flag{

	position: absolute;
	z-index: 2;

}

#user-location-flag {

	position: absolute;
	z-index: 2;
	opacity: 1;

}

#satellite-location-name {

	position: absolute;
	z-index: 2;
	padding: 0.5px;

	/* background-color: white; */

	height: fit-content;
	width: fit-content;

	border-radius: 10%;

	color: rgb(255, 255, 255);

	font-size: smaller;
	font-weight: 600;
	text-align: center;
	text-justify: center;

}

#user-location-name {

	position: absolute;
	z-index: 2;
	opacity: 1;
	padding: 0.5px;

	/* background-color: white; */

	height: fit-content;
	width: fit-content;

	border-radius: 10%;

	color: rgb(255, 255, 255);

	font-size: smaller;
	font-weight: 600;
	text-align: center;
	text-justify: center;

}

.band-container {
    width: 100%;
	height: fit-content;
    min-height: 200px;

    margin: 7vh 0 7vh 0;
    padding: 2vh 0vw 2vh 0;

    backdrop-filter: blur(5px);
    background-image: linear-gradient(45deg, rgba(48, 40, 40, 0.594), transparent);
    box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(235, 172, 155, 0.329);   

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 2vw;
    color: azure;

	border-style: solid;
	border-color: rgba(255, 255, 255, 0.596);
	border-width: 1px 0 1px 0;

	backdrop-filter: blur(20px);
	background-color: rgba(77, 85, 152, 0.254);

}

.band-display  {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    justify-items: stretch;
    color: azure;
}

.inline-flex-container{
    display: flex;
    flex-direction: row;
    gap: 4vh;
}

#the-team-title{
	height: 140px;

	display: inline-flex;
	align-items: center;

    text-align: right; 
    text-justify: center; 
    font-family: 'Courier New', Courier, monospace;
	font-weight: 300; 
	opacity: 0.9; 
    font-size: 5vh; 
    margin: 0 0 0 0;
	padding: 0 1vw 0 0;
	color: rgba(255, 255, 255, 0.685);

	border-style: solid;
	border-width:  0 1px 0 0;
	border-color: rgba(255, 255, 255, 0.205);
}

.team-button-container{
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

    padding: 0px 0 0px 0;
    gap:0;
}

.dev-name{
    margin: 0;
    padding: 0 ;
    font-family: monospace ;
    font-style: normal;
    font-weight: 300;
    color: rgb(241, 241, 241);

    opacity: 1;
}

#contribute{
	display: inline-flex;
	gap: 20px;
}

.team-button{

    background-color: transparent;

    background-size: cover;
    width: 105px;
    height: 105px;
    box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(235, 172, 155, 0.329);

    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    border-color: rgba(245, 245, 245, 0.429);

    opacity: 0.7;

    cursor: pointer;

    transition: all 0.2s;

    padding: 0;

}

.team-button:hover{
    scale: 1.03;
    opacity: 0.95;
}

#dev1-button {
    background-image: url(./assets/dev1.png);
    background-size: contain;
}

.jointheteam-button img{
	border-radius: 8px;
	opacity: 0.8;
}

.buymeacoffee-button img{
    opacity: 0.8;
}

.buymeacoffee-button img:hover, .jointheteam-button img:hover{
    scale: 1.01;
    opacity: 1;
}

.poem {

	margin: 40px 0;
	width: 100%;

	font-family: 'Courier New', Courier, monospace;
	font-style: oblique;
	font-size: 15px;
	color: white;

	align-self: center;
	justify-self: center;
	text-align: center;
	
}


a {

	padding: 2px;

	text-decoration: none;
	transition: all 0s;

	color: white; 
	font-family: courier; 
	font-weight: 300;

}

a:hover{
	color: rgb(255, 255, 255);
	font-weight: bolder;
	scale: 1.03;	
}

