#data-manager-container {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
        
    display: none;

    justify-content: center;
    align-items: center;
    align-content: center;

    font-family: 'Courier New', Courier, monospace;

}

#data-manager {

    width: 80%;
    height: 80%;
    
    background-color: rgba(61, 72, 126, 0.371);
    backdrop-filter: blur(10px);

    border-style: solid;
    border-radius: 6px;
    border-width: 4px;
    border-color: rgba(238, 225, 225, 0.844);

    position: fixed;

    display: flex;
    flex-direction: column;
}

#data-manager-title-container {

    width: 100%;
    height: fit-content;

    padding: 5px 40px;

    display: inline-flex;

    justify-content: flex-start;

    color: white;

}

#data-manager-title {
    font-size: 3rem;
}

#close-button-container {

    width: 100%;
    height: fit-content;

    padding: 20px;

    display: inline-flex;

    justify-content: flex-end;

}

.close-button {
    border-style: solid;
    border-radius: 3px;
    border-width: 3px;
    border-color: rgba(255, 255, 255, 0.501);

    color: white;
    background-color: transparent;

    padding: 6px;
    line-height: 6px;

    text-align: center;
    text-justify: center;

    cursor: pointer;

    font-size: 16px;
}

#download-button-container {

    width: 100%;
    height: fit-content;

    padding-right: 20px;

    display: inline-flex;

    justify-content: flex-end;

}


.download-button-box {
	width: 100%;
	height: fit-content;

	margin: 10px 0;
	padding	: 0px 10px;

	display: inline-flex;
	justify-content: flex-end;
	justify-items: center;
	align-content: center;
	align-items: center;
}

.download-button {
    
	height: fit-content;
	width: fit-content;

	display: inline-flex;
	justify-content: flex-end;
	justify-items: center;
	align-content: center;
	align-items: center;
	gap: 20px;
	
    border: solid;
    border-radius: 3px;
	border-color: rgba(255, 255, 255, 0.26);

	padding: 5px 10px;
    
	background-color: rgba(49, 45, 39, 0.324);
	backdrop-filter: blur(5px);
    background-image: linear-gradient(45deg, rgba(48, 40, 40, 0.777), transparent);
    box-shadow: 0.1vw 0.1vw 2vw 0.1vw rgba(78, 74, 73, 0.516);   

	cursor: pointer;

	color: white;
}

.download-button:hover {
	border-color: rgba(255, 255, 255, 0.667);
} 

#data-manager-title {

}

.data-table-container {

    overflow-y: hidden;
    overflow-x: hidden;

    padding: 1vw;

    color: black;

}

#data-table {

    width: 100%;
    height: 35vh;

    padding: 2vw;

    overflow-y: auto;
    overflow-x: auto;

    border: solid;
    border-color: rgba(225, 217, 217, 0.741);
    border-width: 3px;
    border-radius: 10px;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-items: flex-start;
    align-content: flex-start;

}

#data-header {
    font-weight: 600;
}

.data-manager-table-units {
    padding: 0;
    margin: 0;
 
}

.data-row-container, .header-row-container, .units-row-container {
    
    width: 100%;
    

    display: inline-flex;

    justify-content: center;
    align-items: center;
    align-content: center;

}

.data-row-gadgets {
    display: inline-flex;
    gap: 5px;

    padding: 2px 2px 2px 6px;
}

.data-manager-row-button {

    height: 20px;
    cursor: pointer;
    
}

.data-row {
    
    width: 100%;
    height: fit-content;
    
    display: inline-flex;

    justify-content: center;
    align-items: center;
    align-content: center;

    border: solid;
    border-color: rgba(29, 27, 27, 0.819);
    border-width: 0 0 0 3px;
    border-radius: 0;
    text-align: end;

    font-weight: 100;

}

.data-gadgets {
    
    width: 100%;
    height: fit-content;

    display: inline-flex;

    justify-content: center;
    align-items: center;
    align-content: center;
}

.data-manager-header-field {
        
    width: 120px;

    white-space: nowrap;

    overflow-x: hidden;
    overflow-y: hidden;
    padding-right: 5px;

    border: solid;
    border-color: rgba(29, 27, 27, 0.819);
    border-width: 3px 3px 0 0;
    border-radius: 0;

    text-align: center;
    font-size: 14px;
    
}

.data-manager-header-field-units {
        
    width: 120px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    white-space: nowrap;

    overflow-x: hidden;
    overflow-y: hidden;
    padding-right: 5px;

    border: solid;
    border-color: rgba(29, 27, 27, 0.819);
    border-width: 0 3px 3px 0;
    border-radius: 0;

    text-align: center;
    font-size: 14px;
    
}

.data-manager-data-field {
    
    width: 120px;
    padding: 0px 1px 0px 8px;

    white-space: nowrap;

    overflow-x: hidden;
    overflow-y: hidden;
    padding-right: 5px;

    border: solid;
    border-color: rgba(29, 27, 27, 0.819);
    border-width: 3px 3px 3px 0;
    border-radius: 0;

    text-align: left;
    font-size: 12px;
    
}

.time-data-manager {

    min-width: 180px;

}

#data-row-template {
    display: none;
}

.metadata-container {
    display: flex;
    padding: 1vw 2vw;

    font-size: 15px;
}

#metadata {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: space-between;
    align-content: space-between;
}

.meta-field {
    display: inline-flex;
    gap: 4px;

    padding: 5px;

    font-size: 15px;
    color: rgba(241, 234, 234, 0.833);

    border: solid;
    border-color: rgba(29, 27, 27, 0.819);
    border-width: 2px;
    border-radius: 2px;
}

.meta-field-title {
    font-weight: 600;
}

.index-data-manager {
    width: fit-content;
    padding: 0 10px;   
}
